input {
  line-height: normal;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

.wrapper {
  max-width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 29px;
  color: black;
  font-weight: 300;
}

.small-container {
  margin: auto;
  width: 80%;
  padding-left: 20px;
  padding-right: 20px;
}

.container-fluid {
  padding: 0;
}

.top-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.top-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 9px 0 3px 25px;
}
.top-header-auth {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 20px;
  gap: 0 30px;
}
.top-header-auth a {
  color: #F6F6F6;
  text-decoration: none;
}
.top-header-auth .span {
  display: inline-block;
}

.header {
  padding: 15px 0 0 18px;
  position: fixed;
  width: 100%;
  top: 65px;
  right: 0;
  z-index: 9;
  background-color: #FFFFFF;
}
.header-menu .menu {
  display: flex;
  align-items: center;
  gap: 0 30px;
}
.header-menu .menu .menu-item a {
  text-decoration: none;
  color: black;
}

.footer {
  margin-top: 100px;
}
@media (max-width: 600px) {
  .footer {
    width: 100%;
  }
}
.footer-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.owl-carousel {
  width: 100%;
  height: 100vh;
  margin-top: 70px;
}
.owl-carousel .slide {
  background-image: url(../img/image\ 6.png);
  width: 100%;
  height: 100vh;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 600px) {
  .owl-carousel .slide {
    width: 100%;
  }
}
.owl-carousel .slide-content {
  text-align: left;
  position: absolute;
  top: 20%;
  transform: translateX(-209%);
}
@media (max-width: 600px) {
  .owl-carousel .slide-content {
    width: 100%;
  }
}
.owl-carousel .slide-content h4 {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}
.owl-carousel .slide-content p {
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
}
.owl-carousel .slide-content button {
  font-size: 20px;
  font-weight: 200;
  line-height: 29px;
  color: #FFFFFF;
  background-color: #F8B653;
  padding: 8px 25px;
  transition: all 0.5s;
  border: none;
}
.owl-carousel .slide-content button:hover {
  background-color: #FFFCFC;
  color: #F8B653;
  border: solid 0.5px #F8B653;
}
.owl-carousel .slide-img img {
  position: absolute;
  display: block;
  align-items: center;
  width: 733px;
  top: 0;
  left: 121px;
}

.owl-nav button {
  border: none;
  outline: none;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #F5F5F5 !important;
  font-size: 40px !important;
  font-weight: bolder;
}

.owl-prev {
  left: 1% !important;
}

.owl-next {
  right: 1% !important;
}

.owl-dot {
  display: none !important;
}

.pro-title {
  margin-top: 40px;
  margin-bottom: 70px;
}
.pro-title p {
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
}

.pro-box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.pro-box .pro-card {
  flex: 30%;
  text-align: left;
  transition: 0.3s;
  background-color: #F8F8F8;
  margin-right: 40px;
  margin-bottom: 30px;
}
.pro-box .pro-card:hover {
  box-shadow: 5px 5px 5px rgb(223, 220, 220);
}
.pro-box .pro-card img {
  width: 100%;
  padding: 30px;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.pro-box .pro-card img:hover {
  transform: scale(113%);
}
.pro-box .pro-card .card-text h4 {
  font-size: 24px;
  padding-left: 20px;
  font-weight: 300;
  line-height: 29px;
  margin-bottom: 25px;
}
.pro-box .pro-card .card-text p {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  padding-left: 20px;
  margin-bottom: 25px;
  color: #CBC9C9;
}
.pro-box .pro-card .card-text .card-button {
  display: inline-block;
  color: black;
  display: flex;
  justify-content: center;
}
.pro-box .pro-card .card-text .card-button .btn {
  font-size: 20px;
  font-weight: 200;
  line-height: 24px;
  background-color: #E1B067;
  padding: 8px 50px;
  transition: all 0.5s;
  border: none;
}
.pro-box .pro-card .card-text .card-button .btn:hover {
  background-color: #F5F5F5;
  border: solid 0.5px #F8B653;
}
.pro-box .pro-card .card-text .card-button span {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  background-color: #DEDDDC;
  padding: 12px 42px;
}

.owl-carousel {
  width: 100%;
  height: 100vh;
  margin-top: 70px;
}
.owl-carousel .slide2 {
  width: 100%;
  height: 100vh;
  position: relative;
}
@media (max-width: 600px) {
  .owl-carousel .slide2 {
    width: 100%;
  }
}
.owl-carousel .slide2 .slide2-content {
  text-align: left;
  position: absolute;
  top: 8%;
  transform: translateX(-310%);
}
@media (max-width: 600px) {
  .owl-carousel .slide2 .slide2-content {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .owl-carousel .slide2 .slide2-content {
    width: 100%;
  }
}
.owl-carousel .slide2 .slide2-content h4 {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}
.owl-carousel .slide2 .slide2-content p {
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
  margin-bottom: 0.5rem;
  width: 503px;
}
@media (max-width: 600px) {
  .owl-carousel .slide2 .slide2-content p {
    width: 100%;
  }
}
.owl-carousel .slide2 .slide2-content .btn {
  font-size: 20px;
  font-weight: 200;
  line-height: 29px;
  color: #F8F8F8;
  background-image: linear-gradient(to right, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
  padding: 8px 25px;
  transition: 0.5s;
  box-shadow: 0 0 20px #eee;
  border: none;
}
.owl-carousel .slide2 .slide2-content .btn:hover {
  background-position: right center;
}
.owl-carousel .slide2-content .avai-text {
  color: #1ED90E !important;
  font-size: 16px;
  font-weight: 400 !important;
  line-height: 29px;
  margin-bottom: 1rem !important;
}
@media (max-width: 600px) {
  .owl-carousel .slide2-content .avai-text {
    width: 100%;
  }
}
.owl-carousel .slide2-content .slide2-size a {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 1rem;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 600 !important;
  line-height: 29px;
  background-color: #CCCCCC;
  padding: 2px 5px;
}
.owl-carousel .slide2-content .slide2-price {
  color: red !important;
  font-size: 40px;
  font-weight: 600 !important;
  line-height: 29px;
}
.owl-carousel .slide2-number input.quantity {
  border: none;
  width: 10px;
  margin-right: 10px;
  color: black;
}
.owl-carousel .slide2-content .slide2-number .number-item {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 1rem;
  text-decoration: none;
  background-image: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%) !important;
  color: #FFFCFC;
  font-size: 16px;
  font-weight: 600 !important;
  line-height: 29px;
  padding: 1px 10px;
}
.owl-carousel .slide2-content .slide2-number .number-item2 {
  margin-right: 10px !important;
  margin-bottom: 2rem;
}
.owl-carousel .slide2-img img {
  position: absolute;
  width: 30%;
  top: 44px;
  left: 103px;
  padding: 99px 50px 90px;
  background-color: #F8F8F8;
}

.owl-nav button {
  border: none;
  outline: none;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: #F5F5F5 !important;
  font-size: 40px !important;
  font-weight: bolder;
}

.owl-prev {
  left: 1% !important;
}

.owl-next {
  right: 1% !important;
}

.owl-dot {
  display: none !important;
}

.pro-title {
  margin-top: 40px;
  margin-bottom: 70px;
}
.pro-title p {
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
}

.pro-box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.pro-box .pro-card {
  flex: 30%;
  text-align: left;
  transition: 0.3s;
  background-color: #F8F8F8;
  margin-right: 40px;
  margin-bottom: 30px;
}
.pro-box .pro-card:hover {
  box-shadow: 5px 5px 5px rgb(223, 220, 220);
}
.pro-box .pro-card img {
  width: 100%;
  padding: 30px;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.pro-box .pro-card img:hover {
  transform: scale(113%);
}
.pro-box .pro-card .card-text h4 {
  font-size: 24px;
  padding-left: 20px;
  font-weight: 300;
  line-height: 29px;
  margin-bottom: 25px;
}
.pro-box .pro-card .card-text p {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  padding-left: 20px;
  margin-bottom: 25px;
  color: #CBC9C9;
}
.pro-box .pro-card .card-text .card-button {
  display: inline-flex;
  width: 100%;
  color: black;
}
.pro-box .pro-card .card-text .card-button .btn {
  font-size: 20px;
  font-weight: 200;
  line-height: 24px;
  background-color: #E1B067;
  padding: 5px 50px;
  transition: 0.3s;
  border: none;
}
.pro-box .pro-card .card-text .card-button .btn:hover {
  background-color: #F5F5F5;
  color: #F8B653;
}
.pro-box .pro-card .card-text .card-button span {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  background-color: #DEDDDC;
  padding: 12px 42px;
}

.register .container {
  width: 80%;
  margin: auto;
}
.register .container .regTitle {
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  .register .container {
    width: 100%;
  }
}
.register .container .regInner {
  width: 100%;
  display: flex;
}
@media (max-width: 600px) {
  .register .container .regInner {
    flex-direction: column;
  }
}
.register .container .regInner .regItem {
  width: 50%;
  padding: 0 50px;
}
@media (max-width: 600px) {
  .register .container .regInner .regItem {
    width: 100%;
  }
}
.register .container .regInner .regItem .itemInner {
  position: relative;
  display: flex;
  margin-bottom: 25px;
}
.register .container .regInner .regItem .itemInner input {
  flex: 90%;
  border: none;
  height: 36px;
  margin-bottom: 8px;
}
.register .container .regInner .regItem .itemInner input::-moz-placeholder {
  color: black;
  font-size: 24px;
}
.register .container .regInner .regItem .itemInner input:-ms-input-placeholder {
  color: black;
  font-size: 24px;
}
.register .container .regInner .regItem .itemInner input::placeholder {
  color: black;
  font-size: 24px;
}
.register .container .regInner .regItem .itemInner .inputAlert {
  flex: 10%;
  justify-self: flex-end;
  color: red;
  text-align: right;
  font-weight: bolder;
}
.register .container .regInner .regItem .itemInner::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 6px;
  background-image: linear-gradient(180deg, #AE18E2 0%, rgba(0, 0, 0, 0) 100%);
  bottom: 0;
  left: 0;
}
.register .container .itemGender {
  color: black;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: black !important;
  font-size: 24px !important;
}
.register .container .itemGender .gender-title {
  flex: 20%;
}
.register .container .itemGender .category {
  display: flex;
  flex: 80%;
  margin-left: 30px;
  justify-content: space-around;
}
.register .container .itemGender .category label {
  display: flex;
  align-items: end;
  margin-right: 30px;
}
.register .container .itemGender .category label .dot {
  height: 42px;
  width: 49px;
  border-radius: 50%;
  background-color: #D9D9D9;
  margin-right: 13px;
  border: 10px solid transparent;
}
.register .container .itemGender #dot-1:checked ~ .category label .one,
.register .container .itemGender #dot-2:checked ~ .category label .two {
  border-color: #D9D9D9;
  background: #AE18E2;
}
.register .container .itemGender input[type=radio] {
  display: none;
}
.register .container .reg-button {
  outline: none;
  border: none;
  height: 3rem;
  width: 13rem;
  background-color: #AE18E2;
  padding: 4px 40px;
  color: #FFFCFC;
  cursor: pointer;
  margin: 1rem 0;
  font-size: 24px;
  transition: all 0.5s;
  align-items: center;
  margin-top: 45px;
}
.register .container .reg-button:hover {
  background-color: #F8F8F8;
  color: #AE18E2;
  border: solid 1px #AE18E2;
}/*# sourceMappingURL=style.css.map */