.footer {
	padding-top: 60px;
	&-top {
		padding: 30px 0px;
	}
	&-bottom {
		padding: 40px 0px;
		background-color: #ececec;
	}
	&-heading {
		font-size: 20px;
		color: #000000;
		font-weight: 700;
		margin-bottom: 5px;
	}
	&-review {
		color: #000000;
		font-size: 14px;
		display: inline-block;
		font-weight: 500;
		min-height: 50px;
	}
	&-more {
		a {
			text-decoration: none;
			font-size: 14px;
			font-weight: 600;
			color: #d46661;
		}
	}
}
.list-unstyled {
	padding-left: 0;
	list-style: none;
	li {
		a {
			color: #000000;
			font-size: 14px;
			font-weight: 500;
			&:hover {
				text-decoration: none;
				color: #d017ee;
				font-weight: 600;
			}
		}
	}
}
.back-to-top {
	width: 50px;
	height: 50px;
	background: #f55f8d;
	border-radius: 8px;
	line-height: 50px;
	text-align: center;
	display: block;
	position: fixed;
	right: 15px;
	bottom: 15px;
	color: #fff;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-box-shadow: -4px 4px 24px -10px #f55f8d;
	box-shadow: -4px 4px 24px -10px #f55f8d;
	visibility: hidden;
	opacity: 0;
	&:hover {
		color: #fff;
	}
}

.cd-top--is-visible {
	visibility: visible;
	opacity: 1;
}
