.profile {
	padding: 117px 0 39px 0px;
	background-color: #f5f5f5;
	&-left {
		a {
			img {
				cursor: pointer;
			}
		}
	}
	&-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&-prodName {
		font-weight: 300;
		font-size: 30px;
		line-height: 36px;
		color: #000000;
		margin-bottom: 9px;
	}
	&-desc {
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #140101;
		max-width: 503px;
		text-align: justify;
		margin-bottom: 20px;
	}
	&-titleSize {
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		color: #1ed90e;
		margin-bottom: 15px;
	}
	&-size {
		margin-bottom: 17px;
		margin-top: 15px;
		@media (max-width: 568px) {
			display: flex;
			flex-direction: column!important;
		}
		@media (min-width: 768px) {
			display: flex;
			flex-direction: column!important;
		}
		
		&-item {
			cursor: pointer;
			padding: 8px 11px;
			color: #000000;
			background: #cccccc;
			margin-right: 20px;
			font-weight: 600;
			font-size: 22px;
			color: #1e1d1d;
			
			&.active {
				border: 2px solid;
				border-image: linear-gradient(45deg, rgba(62, 32, 248, 0.9), #d017ee) 1;
			}
		}
	}
	&-price {
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 36px;
		color: #fc0303;
	}
	&-addOrRemove {
		margin-top: 10px;
		margin-bottom: 5px;
		display: flex;
		align-items: center;
	}
	&-numb {
		font-weight: 400;
		font-size: 30px;
		color: #000000;
	}
}
.btn-detail {
	margin-top: 7px;
	color: white;
	padding: 14px 35px;
	background: linear-gradient(
		270deg,
		rgba(62, 32, 248, 0.9) 5.14%,
		#d017ee 89.71%
	);
	cursor: pointer;
	font-weight: 500;
	outline: none;
	border: none;
	font-size: 16px;
	isolation: isolate;
}
.btn-info:hover {
	color: #fff;
	background-color: #17a2b8;
	border: none;
}
