//PRODUCT FEATURE
.pro-container {
	position: relative;
}

.pro-title-primary {
	margin-top: 46px;
	margin-bottom: 89px;
	h1 {
		font-size: 40px;
		font-weight: $fw-400;
		line-height: $lh-48;
		text-align: center;
		color: #000000;
	}
}

.pro-card-primary {
	flex: 30%;
	text-align: left;
	transition: 0.3s;
	background-color: $bg-card;
	margin-right: 20px;
	margin-bottom: 49px;
	&:hover {
		box-shadow: 5px 5px 5px rgb(223, 220, 220);
	}
	img {
		width: 100%;
		padding: 30px;
		align-items: center;
		cursor: pointer;
		transition: 0.3s;
		&:hover {
			transform: scale(113%);
		}
	}
	.card-text-primary {
		h4 {
			font-size: $fs-mid;
			padding-left: 20px;
			font-weight: $fw-300;
			line-height: $lh-29;
			margin-bottom: 8px;
			color: #000000;
		}
		p {
			font-size: $fs-small;
			font-weight: $fw-300;
			line-height: $lh-24;
			padding-left: 20px;
			margin-bottom: 13px;
			color: $des-color;
		}

		.card-button {
			display: inline-block;
			color: $text-color;
			display: flex;
			.btn-primary {
				width: 100%;
				height: 100%;
				text-decoration: none;
				font-size: 24px;
				font-weight: $fw-200;
				line-height: 30px;
				font-style: normal;
				background-color: $bg-button;
				padding: 16px 23px;
				transition: all 0.5s;
				border: none;
				overflow: hidden;
				&:hover {
					background-color: $bg-pro;
					color: $bg-button;
					border: 1px solid $bg-button;
				}
			}
			.btn-price {
				width: 100%;
				height: 100%;
				text-align: center;
				text-decoration: none;
				font-size: 24px;
				line-height: 30px;
				font-weight: $fw-600;
				background-color: $bg-span;
			}
		}
	}
}
