.carousel-item {
    img {
	width: 100%;
	background-image: cover;
	background-position: center;
	background-repeat: no-repeat;
    }
}

.carousel-caption { 
    text-align: right;  
	left: 0;
	bottom: 0;
	margin: 0 28px;
	padding: 170px 55px;
       
    h5 {
	font-size: $fs-mid;
    color: $text-color;        
    font-weight: $fw-300;
    }
    p {        
    font-size: $fs-normal;
    color: $text-color;        
    font-weight: $fw-300;           
    }
    button {
    background-color: $bg-button2;
    color: $text-button;
    outline: none;
    border: none;
    height: 2rem;
    width: 7rem;
    cursor: pointer;
    transition: all .25s;
    &:hover{
        background-color: $bg-pro;
        color: $text-color;
        border: solid 1px $text-color;
        }
    }
}
.carousel-indicators {	
	left: unset;
	right: 20px;
	bottom: 100px;
	margin: unset;	
	gap: 8px;
}
//PRODUCT FEATURE
.pro-feature {
    .pro-title{
        text-align: center;
        font-size: $fs-mid;
        color: $text-color;        
        font-weight: $fw-400; 
        margin-bottom: 2rem;
    }
    .pro-container{
        .row {
            display: flex;
            align-items: center;
        }
        .col-4 {
            flex: 30%;
            padding: 10px;
            margin-bottom: 15px;
            position: relative;
            img {
                width: 100%;
                position: absolute;
            }

        }
    }
}
    // .pro-feature .pro-container {
    //     position: relative;
    //     background-color: $bg-pro;
    //     .card {
    //         position: absolute;
    //         background-color: $bg-card;
            
    //         .card-title {                
    //             font-size: $fs-mid;
    //             line-height: $lh-29;        
    //             font-weight: $fw-300;
    //             font-style: $fs-style;
    //             color: $text-color;
    //         }
    //         .card-text,
    //         p {                
    //             font-size: $fs-small;
    //             line-height: $lh-24;        
    //             font-weight: $fw-300;
    //             font-style: $fs-style;
    //             color: $des-color;
    //         }                           
    //         img {
    //             transition: all 1s;
    //         }
    //         img:hover {
    //             transform: scale(103%);
    //         }
    //         .card-button {
    //             display: inline-block;
    //             text-align: center;
    //             .btn {              

    //             font-size: $fs-normal;
    //             line-height: $lh-29;        
    //             font-weight: $fw-200;
    //             font-style: $fs-style;
    //             color: $text-color;
    //             background-color: $bg-button;
    //             font-style: $fs-style;
    //             }
    //             .span {
    //             background-color: $bg-span !important;
    //             }
    //         }
    //     }
    //     .card:hover {
    //         box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, .1);
    //     }
    // }
