input {
    line-height: normal;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
