$font: 'Inter', sans-serif;

//COLOR
   
$bg-pro: #F5F5F5;
$bg-register: #FFFCFC;
$bg-card:#F8F8F8;
$bg-span: #DEDDDC;
$bg-button:  #E1B067;
$bg-button2: #F8B653;
$text-button: #FFFFFF;
$text-color:black;
$des-color: #CBC9C9;
$auth-color: #F6F6F6;
$red-color: red;
$purple-btn: #AE18E2;
$dot-color: #D9D9D9;
$mautim: linear-gradient(180deg, #AE18E2 0%, rgba(0, 0, 0, 0) 100%);


//FONT SIZE
$fs-normal: 16px;
$fs-small: 20px;
$fs-mid: 24px;
$fs-mid2: 30px;
$fs-lar: 40px;


//FONT STYLE
$fs-style: normal;

//LINE HEIGHT
$lh-24: 24px;
$lh-29: 29px;
$lh-48: 48px;
$lh-36: 36.31px;

// FONT-WEIGHT
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;