@import './reset';
@import './variables';
@import './global';
@import './header';
@import './carousel';
@import './_product_list';
@import './profile';
@import './_register';

//FONT MIXIN
@mixin font-set($size, $weight, $line-height) {
	font: {
		size: $size;
		weight: $weight;
		line-height: $line-height;
	}
}
